{{ blok._editable }}
<!-- Default Boostrap Column HTML -->
<div class="{{blok.width|default:'col-md-6'}}">
  <!-- Loop through all the components contained in the body field -->
  {% for blok in blok.body %}
    <!-- include all components according to their name -->
    {% include blok.component with blok: blok %}
  {% endfor %}
</div>