<nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <ul class="nav navbar-nav">
      {% for header_link in global.content.header_links %}
      <li>
        <a href="{{ header_link.link|url }}">{{ header_link.display_name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>